html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    background-color: black;
    width: 100vw;
    padding-left: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-left: 70%;
}