body{
    background-color: #121212;
    color: white;
        font-family: "Roboto", sans-serif;
}
.nav{
    background-color: #202020;
    width: 100vw;
    height: 10vh;
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.content{
    background-color: #202020;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 5px;
    margin-bottom: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.repo{
    margin-top: 15vh;
    text-align: center;
    border-radius: 5px;

}
.tut{
    height: 40vh;
    margin-top: 3vh;
    
}
.content .title{
    font-size: 40px;
    width: 60%;
    display:block;
    text-align: center;
    margin-left: 20%;
}
a{
    color: white;
}