html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home{
    background-color: blue;
}
#bio{
    background-color: orange;
}
#portforlio{
    background-color: purple;
}
#contact{
    background-color: red;
}
/* create additional rules below:  */