
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body {
  font-family: "Comfortaa", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  padding: 0.5vh 1vw;
}
nav .title {
  font-size: 35px;
}
nav .items {
  width: 12%;
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
}
.main-content {
  width: 100vw;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.main-content .sidebar {
  height: 40vh;
  /* background-color: red; */
  width: 18vw;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 1vw 1vw;
}
.user span {
  padding-left: 1.5vw;
  font-size: 25px;
}
.pfp {
  width: 3vw;
  height: 3vw;
  border-radius: 1.5vw;
}

.suggestions {
  /* background-color: blanchedalmond; */
  width: 100%;
}

.suggestions .tit {
  width: 100%;
  text-align: center;
  color: grey;
  margin-bottom: 5px;
}

.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-top: 0.5vw;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
}
.friend .stack .name {
  color: black;
}
.friend .stack .reason {
  color: grey;
  font-size: 11px;
}
.friend a {
  color: blue;
  padding-right: 1.5vw;
  text-decoration: none;
}
.main-content .feed {
  /* background-color: orange; */
  width: 60vw;
}

.stories {
  /* background-color: beige; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.stories div {
  cursor: pointer;
}

.stories span {
  padding-top: 0.5vh;
  color: grey;
}
.post {
  margin-left: 10%;
  margin-top: 2.5%;
  width: 60%;
  height: 60vh;
  border: 2px solid lightgray;
}

.post .titlerow {
  /* background-color: red; */
  width: 98%;
  height: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 3%;
  padding-right: 1.5%;
}

.titlerow i {
  cursor: pointer;
}

.post img {
  width: 100%;
}
.post .actionrow {
  display: flex;
  flex-direction: row;
  justify-items: around;
}

.actionrow {
  margin-top: 0.5%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.actionrow i {
  cursor: pointer;
}
.actionrow .container {
  /* background-color: red; */
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo {
  /* padding-left: 87%; */
  padding-right: 2.5%;
}
.likes {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 2%;
}
.post .desc {
  margin-left: 1.5%;
}

.post .featcomment {
  margin-left: 1.5%;
  margin-top: 1.5%;
}
.post .featcomment2 {
  margin-left: 1.5%;
  margin-top: 1%;
}

.post .posttime{
    margin-left: 1.5%;
    margin-top: 1%;
    color: gray;
    font-weight: 300;

}

.commentbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.commentbox .innercontainer{
    padding-left: 2%;
}

.commentbox a{
    padding-right: 2%;
    color: blue;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: none !important;
  }
}
